<!DOCTYPE html>
<html lang='en-CA' ng-app='bundle_app'>
<head>
  <base href='/'>
  <meta charset='UTF-8'>
  <title>Bundle</title>

  <meta name='theme-color' content='#000'>

  <!-- Behavioral Meta Data -->
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta content='yes' name='apple-mobile-web-app-capable' />
  <meta content='minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no' name='viewport' />

  <meta name='apple-touch-fullscreen' content='yes' />
  <meta name='apple-mobile-web-app-capable' content='yes' />
  <meta name='apple-mobile-web-app-status-bar-style' content='black' />

  <link rel='apple-touch-icon' href='https://s3.us-east-2.amazonaws.com/bundle-homepage/homescreen-icon.png'>
  <link rel='apple-touch-startup-image' href='https://s3.us-east-2.amazonaws.com/bundle-homepage/homescreen-icon.png'>

  <!-- Import Styles -->
  <link rel='stylesheet' type='text/css' href='min/materialize.min.css'>
  <link rel='stylesheet' type='text/css' href='css/main.css'>
  <link rel='stylesheet' type='text/css' href='css/navbar.css'>
  <link rel='stylesheet' type='text/css' href='css/homepage/homepage.css'>
  <link rel='stylesheet' type='text/css' href='css/homepage/categories.css'>
  <link rel='stylesheet' type='text/css' href='css/homepage/subcategories.css'>
  <link rel='stylesheet' type='text/css' href='css/homepage/friends.css'>
  <link rel='stylesheet' type='text/css' href='css/feed.css'>
  <link rel='stylesheet' type='text/css' href='css/tripsOverview.css'>
  <link rel='stylesheet' type='text/css' href='css/trip.css'>
  <link rel='stylesheet' type='text/css' href='css/bucketlist.css'>
  <link rel='stylesheet' type='text/css' href='css/slick.css'>
  <link rel='stylesheet' type='text/css' href='css/multiColumnFeed.css'>
  <link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:300,600' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,600' rel='stylesheet'>

  <!-- Google Maps -->
  <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB_GMLH5k68K2imf8dKzH0O7_tJYYhYvgs'></script>
  <script src='js/controllers/mapStyles.js'></script>

  <!-- Angular JS -->
  <script src='min/angular.min.js'></script>
  <script src='min/angular-route.min.js'></script>
  <script src='min/angular-animate.min.js'></script>

  <!--Import jQuery before materialize.js-->
  <script src='min/jquery.min.js'></script>
  <script src='min/materialize.min.js'></script>
  <script src='min/angular-socialshare.min.js'></script>
  <script src='min/slick.min.js'></script>
  <script src='min/clipboard.min.js'></script>

  <script src='js/services/authentication.js'></script>
  <script src='js/services/trip.js'></script>
  <!-- <script src='js/services/sharing.js'></script> -->
  <script src='js/services/contentData.js'></script>

  <script src='app.js'></script>

  <script src='js/controllers/navbar.js'></script>
  <script src='js/controllers/shareTest.js'></script>
  <script src='js/controllers/reset.js'></script>
  <script src='js/controllers/homepage.js'></script>
  <script src='js/controllers/feed.js'></script>
  <script src='js/controllers/bucketlist.js'></script>
  <script src='js/controllers/tripsOverview.js'></script>
  <script src='js/controllers/trip.js'></script>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106757246-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-106757246-1');
  </script>

</head>

<body>

  <div id='navbar' ng-controller='navbarCtrl'>
    <a href='/' class='unselectable'><img src='https://s3.us-east-2.amazonaws.com/bundle-homepage/bundle+logo+thin+bezel+white.png' id='logo'></a>
    <ul class='unselectable' id='nav-buttons'>
      <!-- Tooltips -->
      <li ng-show='isLoggedIn'><a id='homepage-icon' class='btn-floating btn-flat waves-effect waves-teal tooltipped' data-position='bottom' data-delay='20' data-tooltip='Homepage' href='/'><img src='https://s3.us-east-2.amazonaws.com/bundle-homepage/discover.png'></a></li>
      <li ng-show='isLoggedIn'><a id='bucketlist-icon' class='btn-floating btn-flat waves-effect waves-teal tooltipped' data-position='bottom' data-delay='20' data-tooltip='Bucketlist' href='bucketlist'><img src='https://s3.us-east-2.amazonaws.com/bundle-homepage/bucketlist.png'></a></li>
      <li ng-show='isLoggedIn'><a id='trips-icon' class='btn-floating btn-flat waves-effect waves-teal tooltipped' data-position='bottom' data-delay='20' data-tooltip='Trips' href='trips'><img src='https://s3.us-east-2.amazonaws.com/bundle-homepage/trips.png'></a></li>
      <li ng-show='isLoggedIn'><a id='logout-icon' class='btn-floating btn-flat waves-effect waves-teal tooltipped' data-position='bottom' data-delay='20' data-tooltip='Logout' href='/' ng-click='logout()'><img src='https://s3.us-east-2.amazonaws.com/bundle-homepage/exit.png'></a></li>

      <!-- No Tooltips -->
      <!-- <li ng-show='isLoggedIn'><a class='btn-floating btn-flat waves-effect waves-teal' href='/'><i class='material-icons'>language</i></a></li>
      <li ng-show='isLoggedIn'><a class='btn-floating btn-flat waves-effect waves-teal' href='bucketlist'><i class='material-icons'>favorite</i></a></li>
      <li ng-show='isLoggedIn'><a class='btn-floating btn-flat waves-effect waves-teal' href='trips'><i class='material-icons'>map</i></a></li>
      <li ng-show='isLoggedIn'><a class='btn-floating btn-flat waves-effect waves-teal' href='/' ng-click='logout()'><i class='material-icons'>power_settings_new</i></a></li> -->


      <li ng-hide='isLoggedIn'><a id='login-btn' class='btn-flat waves-effect waves-light' ng-click='showLoginForm()'>Login</a></li>
      <li ng-hide='isLoggedIn'><a id='signup-btn' class='btn-flat waves-effect waves-light' ng-click='showRegisterForm()'>Sign Up</a></li>
    </ul>

    <!-- Login -->
    <div class='auth-form hidden' id='login-form' ng-hide='isLoggedIn'>
      <form ng-submit='onLoginSubmit()'>
        <div class='form-group'>
          <label for='email'>Email address</label>
          <input type='email' class='form-control' id='email' placeholder='Enter email' ng-model='credentials.email'>
        </div>
        <div class='form-group'>
          <label for='password'>Password</label>
          <input type='password' class='form-control' id='password' placeholder='Password' ng-model='credentials.password'>
        </div>
        <button type='submit' class='btn btn-default right'>Login</button>
        <br><br>
        <div id='invalid-login'>
          Invalid username or password.
        </div>
        <div id='reset-pass-container'>
          <a href='#' ng-click='showResetForm()'>Forgot my password</a>
        </div>
      </form>

      <form ng-submit='resetRequest()' id='reset-form'>
        <div class='form-group'>
          <label for='email'>Email address</label>
          <input type='email' class='form-control' id='email' placeholder='Enter email' ng-model='email' required='true'>
        </div>
        <button type='submit' class='btn btn-default right' href='#'>Reset Password</button>
        <br><br>
        <div id='valid-reset-email'>
          An email has been sent to the address provided!
        </div>
        <div id='invalid-reset-email'>
          No user exists with this email.
        </div>
      </form>
    </div>

    <!-- Register -->
    <form ng-submit='onRegisterSubmit()' class='auth-form hidden' id='register-form' ng-hide='isLoggedIn'>
      <div class='form-group'>
        <label for='name'>Full name</label>
        <input type='text' class='form-control' id='name' placeholder='Enter your name' ng-model='credentials.name'>
      </div>
      <div class='form-group'>
        <label for='email'>Email address</label>
        <input type='email' class='form-control' id='email' placeholder='Enter email' ng-model='credentials.email'>
      </div>
      <div class='form-group'>
        <label for='password'>Password</label>
        <input type='password' class='form-control' id='password' placeholder='Password' ng-model='credentials.password'>
      </div>
      <button type='submit' class='btn btn-default right'>Sign up</button>
    </form>


  </div>

  <div id='solidify-navbar'></div>

  <div ng-view autoscroll='true'></div>

</body>

</html>
