#bucketlist #map {
  height: 89vh;
  width: 100vw;
}

#bucketlist #tabs {
  background-color: #1e1e1e;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

#bucketlist #tabs.fixed-tabs {
  position: fixed;
  top: 48px;
  z-index: 99;
}

#bucketlist #tabs .tab a {
  text-transform: capitalize;
  -webkit-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: #bebebe !important;
}

#bucketlist #tabs .tab a:hover {
  -webkit-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: white !important;
}

#bucketlist .tabs li.tab {
  color: #d3d3d3 !important;
  height: 100%;
}

#bucketlist #tabs li.tab a {
  -webkit-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

#bucketlist #tabs li.tab a.active {
  -webkit-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  background-color: #141414;
  color: white !important;
}

#bucketlist #tabs .indicator {
  background-color: #fafafa;
}

#bucketlist .column-container {
  margin-top: 5em;
  margin-bottom: 7em;
}

#bucketlist #add-experiences {
  position: absolute;
  top: 110vh;
  text-align: center;
}

#bucketlist #add-experiences a {
  font-size: 2em;
  color: #a9a9a9;
  font-family: 'Lato', sans-serif;
  text-transform: none;
}

#bucketlist #add-experiences img {
  height: 1em;
}

#bucketlist #create-trip-start {
  background-color: rgb(38, 166, 154);
  display: block;
}

#bucketlist #create-trip-done {
  background-color: #ffc300;
  display: none;
}

#bucketlist #cancel-creating-trip.btn-floating {
  background-color: #adadad;
  display: none;
  width: 36px;
  height: 36px;
  transform: translateX(4em);
  -ms-transform: translateX(4em);
  -moz-transform: translateX(4em);
  -webkit-transform: translateX(4em);
  -o-transform: translateX(4em);
}

#bucketlist #cancel-creating-trip.btn-floating i {
  line-height: 36px;
}

#bucketlist .trip-btn.btn-flat.disabled {
  background-color: #adadad !important;
  color: white !important;
}

#bucketlist .trip-btn {
  color: white;
  border-radius: 50vh;
  text-align: center;
  position: fixed;

  text-transform: capitalize;

  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);

  bottom: 2em;
  -webkit-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}

#bucketlist .trip-btn.hidden {
  bottom: -5em;
  -webkit-transition:all 0.2s ease-out;
  -ms-transition:all 0.2s ease-out;
  transition:all 0.2s ease-out;
}

#bucketlist .addToTripOverlay {
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#bucketlist .available-border {
  border: 5px solid rgb(38, 166, 154);
  -webkit-transition:all 0.1s linear;
  -ms-transition:all 0.1s linear;
  transition:all 0.1s linear;
}

#bucketlist .active-border {
  border: 5px solid #ffc300;
  -webkit-transition:all 0.1s linear;
  -ms-transition:all 0.1s linear;
  transition:all 0.1s linear;
}

body #toast-container {
  position: fixed !important;
  bottom: 5em !important;
}
