#feed {
  width: 100%;
  background: #232323;
}

#feed .intro {
  width: 100%;
  overflow: hidden;
}

#feed .intro-background {
  height: 100vh;
  width: 100vw;
  margin: auto;
  position: absolute;
  top: 0vh;
  left: 0;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#feed .intro-fade {
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 50vh;
  background: linear-gradient(0deg, #232323, transparent);
  z-index: 2;
}

#feed #description {
  position: absolute;
  left: 0;
  top: 70vh;
  width: 100%;
  z-index: 3;
  color: white;
}

#feed #description h1 {
  text-transform: capitalize;
}

#feed #content-list {
  height: auto;
  width: 100%;
  top: 100vh;
  position: absolute;
  padding-top: 3em;
}

#feed #content-list .content-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  overflow: hidden;
  position: relative;
}

@media (max-width: 500px) {
  #feed #content-list .content-container {
    height: 64vw;
    width: 96vw;
  }

  #feed .content-container img.content, #feed #content-list .info {
    width: 96vw;
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  #feed #content-list .content-container {
    width: 84vw;
  }

  #feed .content-container img.content, #feed #content-list .info {
    width: 84vw;
  }
}

@media (min-width: 1101px) {
  #feed #content-list .content-container {
    width: 69vw;
  }

  #feed .content-container img.content, #feed #content-list .info {
    width: 69vw;
  }
}

#feed .content-container img.content {
  position: relative;
}

#feed #content-list .info {
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0,0,0,0.3);
}

#feed #content-list .invisible {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

#feed #content-list .visible {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

#feed #content-list .info .org {
  position: relative;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  background-size: contain;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: 5px;
}

#feed #content-list .info .poster {
  position: absolute;
  left: 70px;
  top: 0px;
  display: inline-block;
}

#feed #content-list .info .poster p {
  margin-left: 5px;
  padding-top: 0.4em;
  color: white;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  line-height: 1.2em;
  vertical-align: middle;
}

#feed #content-list .info .poster p .subtext{
  color: #dbdbdb;
  font-weight: 100;
}

#feed #content-list .bucketlist-add-container {
  right: 15px;
  top: 0px;
  position: absolute;
  height: 70px;
}

#feed #content-list .bucketlist-add-container .add-btn {
  background-color: rgba(25,25,25,0.4);
  border-radius: 0.8em;
  border: 1px solid white;
  color: white;
  top: 50%;
  padding-left: 1em;
  padding-right: 1em;
  text-transform: none;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

#feed #content-list .insivible .bucketlist-add-container .add-btn {
  opacity: 1 !important;
}

#feed #content-list .bucketlist-add-container .add-btn i {
  margin-right: 0.5em;
}
