@media only screen and (max-width: 900px) {
  .desktop-only {
    display: none !important;
  }
}

@media only screen and (min-width: 901px) {
  .mobile-only {
    display: none !important;
  }

}

body {
  /*background-color: #FF7D82;*/
  background-color: #232323;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

::-scrollbar {
  display: none;
}
::-o-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}

.unselectable {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  cursor: default;
}

.center-horizonatlly {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
