#navbar {
  position: fixed;
  top: 0px;
  left: -1px;
  background-color: transparent;
  width: 105%;
  height: 70px;
  z-index: 999;
  -webkit-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

#navbar.full-navbar {
  background-color: #191919 !important;

  -webkit-transition: background-color 0.2s linear;
  -ms-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

#navbar #logo {
  position: fixed;
  height: 20px;
  margin-top: 25px;
}

#navbar #menu {
  position: fixed;
  top: 15px;
  /*background-color: rgba(25,25,25,0.5);*/
}

@media only screen and (max-width: 500px) {
  #navbar #logo {
    left: 10vw;
  }
  #navbar #menu, #navbar  ul {
    right: 10vw;
  }
  #navbar ul li {
    margin-right: 5px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 900px) {
  #navbar #logo {
    left: 10vw;
  }
  #navbar #menu, #navbar ul {
    right: 10vw;
  }
  #navbar ul li {
    margin-right: 15px;
  }
  #navbar ul li {
    margin-right: 10px;
  }
}

@media only screen and (min-width: 901px) {
  #navbar #logo {
    left: 6vw;
  }
  #navbar #menu, #navbar ul {
    right: 6vw;
  }
  #navbar ul li {
    margin-right: 15px;
  }
}

#solidify-navbar {
  position: absolute;
  top: 20%;
}

#navbar #menu .material-icons{
  color: white;
}

#navbar  ul {
  position: fixed;
  bottom: auto;
  height: auto;
  width: auto;
  margin-right: -15px;;
  -webkit-transform: none;
  transform: none;
}

#navbar ul li {
  display: inline-block;
  margin-top: 0px;
}

#navbar ul li a {
  background-color: rgba(25,25,25,0.4);
  -webkit-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

#navbar.desktop-navbar ul li a:hover {
  background-color: rgba(25,25,25,0.6);
  -webkit-transition: background-color 0.2s ease-in;
  -ms-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

#navbar ul li a i.bucketlist {
  margin-right: 0px;
}
