#cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background: linear-gradient(180deg, #ffde6b, #4286f4);
  background-size: 400% 400%;

  -webkit-animation: Fader 40s ease infinite;
  -moz-animation: Fader 40s ease infinite;
  animation: Fader 40s ease infinite;

  z-index: 1;
}

#tripsOverview {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100vw;
  z-index: 2;
}

@-webkit-keyframes Fader {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes Fader {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes Fader {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#intro {
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 70px;
  font-size: 2em;
}

#intro p {
  margin-top: 0;
}

#intro img {
  width: 70px;
  height: 70px;
}

#tripsOverview #add-trips {
  background-color: rgb(38, 166, 154);
  color: white;
  border-radius: 50vh;
  text-align: center;
  position: fixed;

  text-transform: capitalize;

  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

#tripsOverview .column-container {
  margin-top: 2em;
  margin-bottom: -2em;
}

#tripsOverview .feed-item {
  cursor: pointer;
}

@media (max-width: 500px) {
  #tripsOverview #trip-divider p {
    width: 90%;
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  #tripsOverview #trip-divider p {
    width: 85%;
  }
}

@media (min-width: 1101px) {
  #tripsOverview #trip-divider p {
    width: 80%;
  }
}

#tripsOverview .feed-item .trip-img-container {
  height: 300px;
  width: 100%;
  overflow: hidden;
}

#tripsOverview #trip-divider {
  margin-top: 2em;
  margin-bottom: 2em;
}

#tripsOverview #trip-divider p {
  text-align: center;
  border-bottom: 1px solid #8c8c8c;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: white;
}

#tripsOverview #trip-divider p span {
  background-color: rgb(35,35,35);
  padding:0 10px;
}

#tripsOverview #past-trips {
  margin-bottom: 4em;
}
