#cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background: linear-gradient(180deg, #ffde6b, #4286f4);
  background-size: 400% 400%;

  -webkit-animation: Fader 40s ease infinite;
  -moz-animation: Fader 40s ease infinite;
  animation: Fader 40s ease infinite;

  z-index: 1;
}

#trips {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100vw;
  z-index: 2;
}

@-webkit-keyframes Fader {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes Fader {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes Fader {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#intro {
  text-align: center;
  width: 100%;
  color: white;
  margin-top: 70px;
}

#intro img {
  width: 70px;
  height: 70px;
}

#trips #add-trips {
  background-color: rgb(38, 166, 154);
  color: white;
  border-radius: 50vh;
  text-align: center;
  position: fixed;

  text-transform: capitalize;

  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

#trips #current-trips, #trips #past-trips {
  margin-top: 2em;
  margin-bottom: -2em;
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  column-fill: auto;
  overflow: hidden;
}

@media (max-width: 500px) {
  #trips #current-trips, #trips #past-trips {
    width: 90%;

		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}

  #trips #trip-divider p {
    width: 90%;
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
	#trips #current-trips, #trips #past-trips {
    width: 85%;

		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;

    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
	}

  #trips #trip-divider p {
    width: 85%;
  }
}

@media (min-width: 1101px) {
	#trips #current-trips, #trips #past-trips {
    width: 80%;

		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;

    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
	}

  #trips #trip-divider p {
    width: 80%;
  }
}

#trips .trip-container {
  background: #FEFEFE;
  width: 100%;
  display: inline-block;

  margin-bottom: 2em;

  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  border-radius: 10px;
  overflow: hidden;

  text-align: center;
}

#trips .trip-container p {
  border-bottom: 3px solid rgb(38, 166, 154);
  display: inline-block;
  margin-top: 0em;
  margin-bottom: 0.5em;
}

#trips .trip-container .trip-img-container {
  height: 300px;
  width: 100%;
  overflow: hidden;
}

#trips .trip-container .trip-img-container img {
  height: 100%;
  left: 50%;
}

#trips .trip-container i {
  color: black;
}

#trips #trip-divider {
  margin-top: 2em;
  margin-bottom: 2em;
}

#trips #trip-divider p {
  text-align: center;
  border-bottom: 1px solid #8c8c8c;
  line-height: 0.1em;
  margin: 10px 0 20px;
  color: white;
}

#trips #trip-divider p span {
  background-color: rgb(35,35,35);
  padding:0 10px;
}

#trips #past-trips {
  margin-bottom: 4em;
}
