.parallax-container {
  height: 61vh;
}

.parallax img {
  height: 85vh;
  margin-bottom : 50px;
}

#selector-arrow {
  width: 0;
  height: 0;
  border-top: 1.75vh solid white;
  z-index: 6;
  position: absolute;
  bottom: 1vh;
}

@media only screen and (max-width: 500px) {
  #selector-arrow {
    border-left: 4vw solid transparent;
    border-right: 4vw solid transparent;
    left: 46vw;
  }
}

@media only screen and (min-width: 501px) {
  #selector-arrow {
    border-left: 2vw solid transparent;
    border-right: 2vw solid transparent;
    left: 48vw;
  }
}

#footer {
  font-family: 'Lato', sans-serif;
  width: 100%;
  position: absolute;
  top: 125.25vh;
  padding-top: 7vh;
  color: white;
}

@media only screen and (max-width: 599px) {
  #footer #info-container {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  #footer #info-container {
    display: flex;
  }
}

#footer #hello-email {
  color: white;
  text-decoration: none;
}

#footer #hello-email:hover {
  text-decoration: underline;
}

#footer #footer-logo {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer #problem-report {
  background-color: rgb(38,166,154);
  color: white;
  position: relative;
  text-transform: capitalize;
  border-radius: 50vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

#copyright {
  font-family: 'Lato', sans-serif;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 2em;
  bottom: 1em;
  color: rgba(255, 255, 255, 0.5);
}

#copyright-icon {
  font-size: 1em;
}
