#subcategories {
  position: absolute;
  height: 32.25vh;
  width: 100vw;
  overflow: hidden;
  top: 99vh;
  z-index: 1;
  background-image: url('https://s3.us-east-2.amazonaws.com/bundle-homepage/Gaussian+Sub+BG.png');
  background-size: cover;
  background-position: center;
}

#subcategories .subcategory-carousel {
  margin-top: 1vh;
  height: 100%;
  width: 100%;
}

#subcategories .subcategory-item , .slick-list, .slick-track, .subcategory-subcarousel {
  height: 100%;
  overflow: visible !important;
}

#subcategories .subcategory-subcarousel .subcategory-subitem {
  width: 50vh;
  height: 100%;
  margin-right: 1vh;
}

#subcategories .subcategory-item {
  height: 30.25vh;
  text-align: center;
  color: white;
}

#subcategories .subcategory-subitem {
  background-size: contain;
  background-position: center;
}

#subcategories .subcategory-subitem .item-title {
  background: rgba(0,0,0,0.5);
  width: 50vh;
  position: absolute;
  bottom: 0px;
  text-align: left;
  padding-left: 1em;
}

#subcategories .subcategory-subitem .item-title p {
  font-size: 1em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  text-transform: capitalize;
}

#subcategories .subcategory-subitem {
  box-shadow: none;
  transition: box-shadow 0.2s linear;
}

#subcategories .subcategory-subitem:hover, #subcategories .subcategory-subitem:active {
  box-shadow: 0px 1px 4px #232323;
  transition: box-shadow 0.2s linear;
}

#subcategories .view-btn {
  position: absolute;
  right: 1em;
  bottom: 1em;
  text-transform: capitalize;
}

@media all and (orientation:landscape) {
  #subcategories .view-btn {
    bottom: 3em;
  }
}

#subcategories .view-btn i {
  font-size: 2em;
}

*:active, *:focus {
  border: none;
  outline: none;
}
