<div id='bucketlist'>

  <div id='map'></div>

  <div id='tab-gap'></div>
  <ul id='tabs' class='tabs left'>
    <li ng-repeat='category in categories' class='tab' ng-click='setFilter(category)'><a>{{category}}</a></li>
  </ul>

  <div class='row'>
    <div class='col s10 offset-s1 offset-m1 offset-l1'>
      <input id='content-filter' type='text' ng-model='filterindex' placeholder='Filter'>
      <div id='content-list'>
        <div id='content-columns'>
          <div class='content-item repeated-item' ng-repeat='content in activeContentList | filter: { name : categoryFilter , index : filterindex}'>
            <img src='{{content.src}}'>
            <p>{{content.name}} {{content.index}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
