<div id='bucketlist'>

  <div id='map'></div>

  <ul id='tabs' class='tabs left'>
    <li ng-repeat='tabName in tabs' class='tab' ng-click='setCategory(tabName)'><a>{{tabName}}</a></li>
  </ul>

  <div class='column-container center-horizontally'>
    <div class='feed-item' ng-repeat='content in activeContentList'>
      <div ng-click='bounceMarker(content.marker)'>
        <img src='{{content.url}}'>
        <p>{{content.location.name}}</p>
      </div>
      <div id='{{content.md5}}' ng-show='creatingTrip' class='addToTripOverlay' ng-class='content.borderClass' ng-click='addToTrip(content.md5)'></div>
    </div>
  </div>

  <div id='add-experiences' class='center-horizontally'><a href='/'>Add experiences from different feeds to begin. <br><img src='https://s3.us-east-2.amazonaws.com/bundle-homepage/discover.png'></a></div>
  <div id='create-trip-start' class='trip-btn hidden btn-flat waves-effect waves-light' ng-click='createTrip()'><i class='material-icons left'>add</i>Create Trip</div>
  <div id='create-trip-done' class='trip-btn hidden btn-flat waves-effect waves-light' ng-click='doneCreatingTrip()'>Done</div>
  <div id='cancel-creating-trip' class='trip-btn hidden btn-floating btn-flat waves-effect waves-light' ng-click='cancelCreatingTrip()'><i class='material-icons'>close</i></div>
</div>
