<div id='feed'>
  <div class='intro'>
    <div class=intro-background style='background-image: url("{{background}}")'></div>
    <div class='' id='description'>
      <div class='row'>
        <div class='col s10 offset-s1 m8 offset-m4 l6 offset-l6'>
          <h1>Awesome Title</h1>
          <p>Bundle’s celebrity inspired feeds are a glimpse into the lives of VIPs
and influencers. Browse locations they enjoy and frequent often
when in town, or that have sentimental significance.</p>
        </div>
      </div>
    </div>
  </div>

  <div class='intro-fade'></div>

  <div id='content-list'>
    <div class='content-item' ng-repeat='content in contentList'>
      <div class='row'>
        <div class='col s2'></div>
      </div>
    </div>
  </div>
</div>
