<div id='feed'>
  <div class='intro'>
    <div class=intro-background style='background-image: url("{{background}}")'></div>
    <div class='' id='description'>
      <div class='row'>
        <div class='col s10 offset-s1 m8 offset-m4 l6 offset-l6'>
          <h1>{{title}}</h1>
          <p>{{description}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class='intro-fade'></div>

  <div id='content-list'>
    <div class='content-container' ng-repeat='content in contentList'>
      <img class='content' src='{{content.url}}'>
      <div class='info unselectable'>
        <a href='{{content.source.redirectURL}}' target='_blank'>
          <div class='org' style='background-image: url("{{content.source.profileURL}}"), url("https://s3.us-east-2.amazonaws.com/bundle-feed-storage/sources/bundle.jpg")'></div>
          <div class='poster'>
            <p>{{content.source.posterName}}<br><span class='subtext'>from {{content.source.sourceName}}</span></p>
          </div>
        </a>
      </div>
      <div class='bucketlist-add-container'>
        <a class='add-btn btn waves-effect waves-teal' ng-click='contentAction(content)'>
          <span ng-hide='content.saved'>+ Add to Bucketlist</span>
          <span ng-show='content.saved'><i class='material-icons left'>check</i> Added</span>
        </a>
      </div>

    </div>
  </div>
</div>

<div id='not-found'>
  <h1>404 - Feed not found...</h1>
</div>
