<div>
  <div class='parallax-container'>
    <div class='parallax'><img src='https://s3.us-east-2.amazonaws.com/bundle-homepage/cn-tower-header.png'></div>
  </div>
  <div id='categories'>
    <h4 class='unselectable'>Choose a Category</h4>
    <div class='category-carousel'>
      <div id='{{cat.name}}' class='category-item' ng-repeat='cat in categories' style='background-image: url("{{cat.src}}")'>
        <div class='item-title'>
          <p>{{cat.name}}</p>
        </div>
      </div>
    </div>
    <div id='next-arrow' class='navigation-arrow unselectable'><i class='material-icons large'>chevron_right</i></div>
    <div id='prev-arrow' class='navigation-arrow unselectable'><i class='material-icons large'>chevron_left</i></div>
  </div>

  <div id='selector-arrow' class='unselectable'></div>

  <div id='subcategories'>
    <div class='subcategory-carousel'>
      <div class='subcategory-item' ng-repeat='cat in categories'>
        <div class='subcategory-subcarousel'>
          <div class='subcategory-subitem unselectable' ng-repeat='cat in subcategories' style='background-image: url("{{cat.src}}")'>
            <div class='item-title'>
              <p>
                {{cat.name}}
                <a class='waves-effect waves-light btn green view-btn'>
                  <span class='desktop-only'>View</span>
                  <i class='material-icons large mobile-only'>fullscreen</i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id='friends'>
    <h4> </h4>
  </div> -->

  <div id='footer'>
    <div class='row'>
      <div class='col s8 m6 l4 offset-s1 offset-m2 offset-l1'>

        <div class='row'>
          <div class='col s12'>
            <h3>Bundle</h3>
            <p>hello@joinbundle.com</p>
          </div>
          <div class='col s6'>
            <p><span style='font-weight: bold'>Waterloo Office</span> <br>151 Charles Street West <br>Kitchener, ON N2G 1H6</p>
          </div>
          <div class='col s6'>
            <p><span style='font-weight: bold'>Toronto Office</span> <br>70 Blue Jays Way <br>Toronto, ON M4T 4W5</p>
          </div>
        </div>
      </div>
    </div>
    <div id='copyright' class='unselectable'><i class='material-icons' id='copyright-icon'>copyright</i> Bundle Corporation. All rights reserved</div>
  </div>
</div>
