<div>
  <div ng-controller='profileCtrl'>
    <form class='form-horizontal'>
      <div class='form-group'>
        <label class='col-sm-3 control-label'>Full name</label>
        <p class='form-control-static'>{{ user.name }}</p>
      </div>
      <div class='form-group'>
        <label class='col-sm-3 control-label'>Email</label>
        <p class='form-control-static'>{{ user.email }}</p>
      </div>
    </form>
  </div>
  <div ng-controller='landingCtrl'>
    <ul class='feed'>
      <li class='content' ng-repeat='content in contentList'>
        {{content.source.name}} <img src='{{content.source.logoURL}}' class='sourceImg'>
        <img src='{{imageStorageBase}}{{content.url}}' class='mainImg'>
        <a ng-hide='content.users[user.id]' class='waves-effect waves-dark red btn like-btn' ng-click='like(content.md5); content.users[user.id] = true'>Like</a>
        <a ng-show='content.users[user.id]' class='waves-effect waves-dark red btn like-btn' ng-click='unlike(content.md5); content.users[user.id] = false'>Unlike</a>
      </li>
    <ul>
  </div>
</div>
