<!-- <div id='cover'></div> -->
<div id='tripsOverview'>
  <div id='intro' class='unselectable'>
    <img src='https://s3.us-east-2.amazonaws.com/bundle-homepage/trips.png'>
    <p>Trip Ideas</p>
  </div>

  <!-- <div id='add-trips' class='btn-flat waves-effect waves-light'>
    <i class='material-icons left'>add</i>Add Trips
  </div> -->

  <div class='column-container center-horizontally unselectable'>
    <div class='feed-item' ng-repeat='trip in currentTrips' ng-click='goTo(trip._id)'>
      <div class='trip-img-container'>
        <img class='center-horizontally' src='{{trip.coverPic}}'>
      </div>
      <p>{{trip.name}}</p>
    </div>
  </div>

  <div id='trip-divider'>
    <p class='center-horizontally'><span>Past Trips</span></p>
  </div>

  <div class='column-container center-horizontally unselectable'>
    <div class='feed-item' ng-repeat='trip in pastTrips'>
      <div class='trip-img-container'>
        <img class='center-horizontally' src='{{trip.src}}'>
      </div>
      <p>{{trip.name}}</p>
    </div>
  </div>
</div>
